{% extends "secure_base.html" %}
{% block title %}Object detection service :: Manage alerts {% endblock %}
{% block main %}
<script>
  function showItem(id) {
    console.info("ID: " + id)
    $("#alert_id").val(id)
    $("#alert_phone").val($("#DT-" + id + " > div:nth-of-type(3)").text())
    $("#alert_email").val($("#DT-" + id + " > div:nth-of-type(2)").text())
    $("#text_to_check").val($("#DT-" + id + " > div:nth-of-type(4)").text())
    let x = $("#DT-" + id + " > div:nth-of-type(5)").text()
    $('#disable_alert').prop('checked', x == "Yes");
  }

  function getAlerts(id) {
    $.get("sa/"+id, function (data) {
      $(".modal-body").html(data);
      $('#myModal').modal('show');
    });
  }
</script>
<div class="card">
  <div class="card-header">
    Manage Alerts
  </div>
  <div class="card-body">
    <form id="aform" action="alerts" method="POST">
      <input id="alert_id" name="alert_id" type="hidden" />
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="alert_phone">Alert phone:</label>
            <input type="tel" name="alert_phone" class="form-control" id="alert_phone" aria-describedby="gsfHelp"
              required>
            <small id="gsfHelp" class="form-text text-muted">
              Phone number to which an alert may be sent on detecting an object.
            </small>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="alert_email">Alert email:</label>
            <input type="email" name="alert_email" class="form-control" id="alert_email" aria-describedby="aemHelp"
              required>
            <small id="aemHelp" class="form-text text-muted">
              Email address to which an alert may be sent on detecting an object.
            </small>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="text_to_check">Text to detect:</label>
            <input type="text" name="text_to_check" class="form-control" id="text_to_check" required>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="disable_alert">Disable alert:</label>
            <input type="checkbox" name="disable_alert" class="form-control" id="disable_alert">
          </div>
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </form>


  </div>
  {%if not data%}
  <span class="alert alert-warning">No alerts available yet!</span>
  {%else%}
  <div class="card">
    <div class="card-header">Alerts</div>
    <div class="card-body">
      <div class="row border-bottom border-info text-light bg-dark">
        <div class="col-md-1">S#</div>
        <div class="col">Email</div>
        <div class="col">Phone</div>
        <div class="col">Text</div>
        <div class="col-md-1">Disable</div>
        <div class="col-md-1">Events</div>
      </div>
      {% for d in data %}
      <div id="DT-{{d['id']}}" class="row border-bottom border-info mb-2">
        <div class="col-md-1">{{loop.index}}</div>
        <div class="col" style="cursor: pointer;" onclick="showItem({{d['id']}})">{{d["alert_email"]}}</div>
        <div class="col">{{d["alert_phone"]}}</div>
        <div class="col">{{d["text_to_check"]}}</div>
        <div class="col-md-1">{{'Yes' if d["disable_alert"] else 'No'}}</div>
        <div class="col-md-1">
          <button type="button" class="btn btn-info btn-sm" 
          onclick="getAlerts({{d['id']}})">Show</button>
        </div>
      </div>
      {%endfor%}
    </div>
  </div>
  {%endif%}
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modTitle">Alert Events</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Loading...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}