{% if not data %}
<p>No results available.</p>
{% else %}
<div class="row bg-secondary text-white text-uppercase font-weight-bold">
    <div class="col-md-1">S#</div>
    <div class="col">Sent At</div>
    <div class="col">Sent To</div>
    <div class="col">Matched Text</div>
</div>
{% for obj in data %}
<div class="row">
    <div class="col-md-1">{{loop.index}}</div>
    <div class="col">{{obj["sent_on"] | datefmt}}</div>
    <div class="col">{{obj["sent_to"]}}</div>
    <div class="col">{{obj["text_found"]}}</div>
</div>
{% endfor %}
{% endif %}