{% extends "secure_base.html" %}
{% block title %}Object detection service :: Tasks Status{% endblock %}

{% block main %}
<div class="card">
  <div class="card-header">
    Tasks status
  </div>
  <div class="card-body">
    {% if not data %}
    <p>No results available.</p>
    {% else %}
    <p>
      Contents of the task output folders is listed below. 
      You can view or download the files by clicking on respective links.</p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>S#</th>
          <th>Image File</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        {% for frame_file, items in data|groupby("frame_file") %}
        <tr>
          <td>{{loop.index}}</td>
          <td><img src="/images/{{items[0]['id']}}" style="max-width: 250px;"/></td>
          <td>
            <table>
              <thead>
                <tr>
                  <th>Detection Mode</th>
                  <th>Status</th>
                  <th>Received On</th>
                  <th>Detected Text</th>
                </tr>
              </thead>
              <tbody>
                {% for obj in items %}
                <tr>
                  <td>{{ obj["task_type"] }}</td>
                  <td>{{ obj["status"] }}</td>
                  <td>{{ obj["received_ts"] }}</td>
                  <td>{{ obj["detected_text"] }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>

{% endblock %}